h3 {
  text-align: center;
  vertical-align: center;
  line-height: 35px
}
hr{
  border: 1px solid black;
}
div.container{
  background-color: white;
  width: 100%;
  max-width: 850px;
  height: auto;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px black;
}
div.totalp{
  background-color: #7811f7;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  display: none;
}
button{
  width: 100%;
}
span {
  background-color: #AED6F1;
  border-radius: 3px;
}

